<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <httpRequestBegin>
                <processor patch:instead="*[@type='Sitecore.XA.Feature.SiteMetadata.Pipelines.HttpRequestBegin.SitemapHandler, Sitecore.XA.Feature.SiteMetadata']"
                          type="SitecoreThinker.Feature.SEO.Pipelines.CustomSitemapHandler, SitecoreThinker.Feature.SEO" resolve="true">
                    <CacheExpiration>30</CacheExpiration>
                </processor>
            </httpRequestBegin>
            <preprocessRequest>
                <processor patch:instead="*[@type='Sitecore.XA.Foundation.SitecoreExtensions.Pipelines.PreprocessRequest.FilterUrlFilesAndExtensions, Sitecore.XA.Foundation.SitecoreExtensions']"
                           type="SitecoreThinker.Feature.SEO.Pipelines.PreprocessRequest.FilterUrlFilesAndExtensions, SitecoreThinker.Feature.SEO">
                    <param desc="Allowed extensions (comma separated)">aspx, ashx, asmx</param>
                    <param desc="Blocked extensions (comma separated)">*</param>
                    <param desc="Blocked extensions that stream files (comma separated)">*</param>
                    <param desc="Blocked extensions that do not stream files (comma separated)"/>
                </processor>
            </preprocessRequest>
        </pipelines>
        <services>
            <register patch:instead="*[@implementationType='Sitecore.XA.Feature.SiteMetadata.Sitemap.SitemapGenerator, Sitecore.XA.Feature.SiteMetadata']" serviceType="Sitecore.XA.Feature.SiteMetadata.Sitemap.ISitemapGenerator, Sitecore.XA.Feature.SiteMetadata" implementationType="SitecoreThinker.Feature.SEO.Sitemap.CustomSitemapGenerator, SitecoreThinker.Feature.SEO" lifetime="Transient"/>
        </services>        
    </sitecore>
</configuration>